<h3 class="d-flex justify-content-center">{{ cata.isPrimeraCata ? 'Primera' : 'Segunda' }} cata de {{ cata.nombre }}</h3>
<h1 class="display-4">El menú</h1>
<div class="container-fluid py-2">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <plato-detail [plato]="platoEntrante" (click)="puntuacionesDePlato(1)" [ngClass]="platoSeleccionado == 0 ? 'isSelected' : '' "></plato-detail>
        <plato-detail [plato]="platoPrincipal" (click)="puntuacionesDePlato(2)" [ngClass]="platoSeleccionado == 1 ? 'isSelected' : '' "></plato-detail>
        <plato-detail [plato]="platoPostre" (click)="puntuacionesDePlato(3)" [ngClass]="platoSeleccionado == 2 ? 'isSelected' : '' "></plato-detail>
    </div>
</div>

<h1 class="display-4 mt-2">Puntuaciones</h1>
<div class="row" *ngIf="!puntuacionesDePlatoSeleccionado.length">
    <span>Selecciona un plato para ver las puntuaciones de los jueces</span>
</div>
<div class="container-fluid py-2 d-flex flex-row flex-nowrap overflow-auto" *ngIf="puntuacionesDePlatoSeleccionado.length">
    <div class="puntuaciones-container" *ngFor="let puntuacionDeJuez of puntuacionesDePlatoSeleccionado">
        <puntuacion-detail [puntos]="puntuacionDeJuez"></puntuacion-detail>
    </div>
</div> 