<div class="title d-flex justify-content-center">
    <h1>clasificación</h1>
</div>
<ul>
    <li *ngFor="let puesto of clasificacion; index as i;">
       <span class="position">{{ i + 1 }}</span> 
       <div class="datos d-flex justify-content-between">
            <div class="info d-flex flex-column ml-2">
                <span>{{ puesto.nombre }} {{ puesto.apellidos | cutApellidosPipe }}</span>
                <div>
                    <i class="fas fa-phone"></i><span>{{ puesto.telefono | cutPhonePipe }}</span>
                </div>
            </div>
            <div class="puntos d-flex align-items-center">
                    <span>{{ puesto.puntos }}</span>
            </div>
            <div class="d-flex align-items-center">
                <span class="material-icons" (click)="verPuntuacionesDeCata(puesto)">
                    visibility
                </span>
            </div>
        </div>
    </li>
</ul>