<div *ngIf="estadoCalendario === 'lista'">
    <h4 class="display-4 d-flex justify-content-start">Próximas Catas</h4>
    <mat-list>
        <div class="card mb-3" *ngFor="let cata of getCatasProximas()">
            <div class="card-body">
                <mat-list-item 
                [ngStyle]="{'background-color': hayCataHoy(cata.fecha) ? 'aquamarine' : 'null'}">
                    <mat-icon matListIcon *ngIf="!hayCataHoy(cata.fecha)">restaurant</mat-icon>
                    <mat-icon matListIcon *ngIf="hayCataHoy(cata.fecha)">dinner_dining</mat-icon>
                    <h3 matLine>{{ cata.nombre }} </h3>
                    <p matLine>{{ cata.fecha }}</p>
                </mat-list-item>
            </div>
        </div>
    </mat-list>
    <h4 class="display-4 d-flex justify-content-start">Últimas Catas</h4>
    <mat-list>
        <div class="card mb-3" *ngFor="let cata of getCatasAntiguas() ">
            <div class="card-body">
                <mat-list-item>
                    <mat-icon matListIcon>food_bank</mat-icon>
                    <h3 matLine>{{ cata.nombre }} </h3>
                    <p matLine>{{ cata.fecha }}</p>
                    <!-- <div>
                        <span >{{ cata.entrante }}</span>
                        <span >{{ cata.principal }}</span>
                        <span >{{ cata.postre }}</span>
                    </div> -->
                </mat-list-item>
            </div>
        </div>
    </mat-list>

<!-- VER FECHAS PROPUESTAS => ¿DEBERÍA IR ARRIBA DEL TODO? -->
<!-- VER FECHAS PROPUESTAS => ¿DEBERÍA IR ARRIBA DEL TODO? -->
<button [disabled]="aunQuedanCatasPorRealizar()" class="btn btn-outline-secondary" (click)="verFechas()">
    <span *ngIf="!aunQuedanCatasPorRealizar()">Ver Fechas Propuestas</span>
    <span *ngIf="aunQuedanCatasPorRealizar()">No quedan catas por realizar</span>
</button>
<!-- VER FECHAS PROPUESTAS => ¿DEBERÍA IR ARRIBA DEL TODO? -->
<!-- VER FECHAS PROPUESTAS => ¿DEBERÍA IR ARRIBA DEL TODO? -->
</div>

<div *ngIf="estadoCalendario === 'ver_fechas'">
    <div class="botones d-flex justify-content-between">
        <button type="button" class="btn btn-link text-decoration-none" (click)="goBack()">
            <div class="d-flex align-items-center">
                <i class="fas fa-chevron-left"></i>&nbsp;Atrás
            </div>
        </button>
        <button 
            [disabled]="!aunTieneCatasPorRealizar()" 
            class="btn btn-outline-secondary" 
            (click)="proponerFecha()"
            *ngIf="!showDatepicker">
            <span>Proponer Fecha para mi {{ siguienteCata() }} cata</span>
        </button>
        <button 
            class="btn btn-outline-secondary" 
            (click)="ocultarFecha()"
            *ngIf="showDatepicker">
            <span>Ocultar</span>
        </button>
    </div>
    <div class="d-flex align-items-center justify-content-around" *ngIf="showDatepicker">
        <mat-form-field appearance="fill">
            <mat-label>Elije una fecha</mat-label>
            <input matInput [matDatepicker]="picker" aria-label=".">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button 
            class="btn btn-primary" 
            (click)="saveFechaPropuesta()">
            <span>Guardar</span>
        </button>
    </div>
    
    <div class="mt-5">
        <h4 class="display-4 d-flex justify-content-start">Fechas propuestas para próximas Catas</h4>
        <mat-list>
            <div class="card mb-3" *ngFor="let fecha of fechasPropuestas; index as i;">
                <div class="card-body">
                    <mat-list-item class="d-flex justify-content-start" (click)="openModalFechaPropuesta(i)" data-toggle="modal" data-target="#modal_fecha_propuesta">
                        <mat-icon matListIcon>calendar_month</mat-icon>
                        <h3 matLine>{{ fecha.nombre }} </h3>
                        <p matLine>{{ fecha.id }}</p>
                        <!-- <p>{{ fecha | json }}</p> -->
                    </mat-list-item>
                </div>
            </div>
        </mat-list>
    </div>
</div>

<!-- MODAL FECHA PROPUESTA -->
<div class="modal fade" id="modal_fecha_propuesta" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{ tituloModal }}</h2>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body d-flex">
                <div class="col-md-6">
                    <span class="votos-title">Votos a Favor:</span>
                    <div *ngFor="let inv of usuariosAFavorModal">
                      {{ inv }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <span class="votos-title">Votos en Contra:</span>
                    <div *ngFor="let inv of usuariosEnContraModal">                        
                      {{ inv }}
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>