/* PALETTE */
$primary-color: rgba(98, 176, 222, 1);
$azul-letra: #67B8BC;
$verde-letra: #336E7B;

$amarillo-star: #ffd400;
$gris-borde: #cecece;
$ghostwhite: #E5F2F9;

$fuente_titles: "Julius Sans One";