@import './app/variables.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$boda2022-primary: mat-palette($mat-indigo);
$boda2022-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$boda2022-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$boda2022-theme: mat-light-theme((
  color: (
    primary: $boda2022-primary,
    accent: $boda2022-accent,
    warn: $boda2022-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($boda2022-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$boda2022-primary: mat-palette($mat-indigo);
$boda2022-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$boda2022-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$boda2022-theme: mat-light-theme((
  color: (
    primary: $boda2022-primary,
    accent: $boda2022-accent,
    warn: $boda2022-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($boda2022-theme);

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* You can add global styles to this file, and also import other style files */
$body_color:rgb(98,176,222,0.16);
$span_color: #336E7B;

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $body_color; // rgb(98,176,222,0.16);
}
span {
  color:  $span_color;
  font-weight: 500;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-header .mat-step-icon {
  background-color: white;
  color: $verde-letra;
}
h1 {
  color: $azul-letra;
  font-family: "Julius Sans One";
  // margin-top: 4em;
  // margin-bottom: 2em;
}
h4 {
  font-family: 'Handlee', cursive;
  color: $verde-letra;
  font-size: x-large !important;
}
.btn-outline-secondary:hover {
    // background-color: turquoise;
    & span {
        color: #FBFBFB;
        font-weight: initial;
    }
}