.editar-cata-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.editar-cata-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}