<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet" type="text/css">
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">TSF - Masterchef</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBarContent">
      <ul class="navbar-nav mr-auto d-flex justify-content-end">
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" data-toggle="collapse" data-target="#navBarContent" routerLink="/calendario">Calendario</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" data-toggle="collapse" data-target="#navBarContent" routerLink="/puntuar">Puntuar</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" data-toggle="collapse" data-target="#navBarContent" routerLink="/puntuaciones-de-cata">Puntuaciones de cata</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" data-toggle="collapse" data-target="#navBarContent" routerLink="/puntuaciones">Puntuaciones</a>
        </li>
        <li class="nav-item d-flex justify-content-center" (click)="cerrarSesion()">
          <a class="nav-link" href="#">Cerrar Sesión</a>
        </li>
        <!-- <li class="nav-item d-flex justify-content-center" *ngIf="isAdmin">
          <a class="nav-link" data-toggle="collapse" data-target="#navBarContent" routerLink="/management" >Administracion</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>